*{
    overflow: hidden;

}
body{
    background-color:wheat;
    font-family: Arial ;
    padding: 5px;
    margin: 0%;
}
.navbar{
    display: flex;
    justify-content: space-between;

    /* margin-top: 20px; */
    height: 60px;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 0;  

}

.navbar a{
text-decoration: none;
color: rgb(10, 158, 158);
margin-inline: 20px;
font-size: 24px;
padding: 5px;

}
.logo{
    width: 80px;
    height: 500px;
    margin-left: 10px;
}